*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  height: 100vh;
  background-color: #f8f9fa;
  color: #343a40;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

a {
  color: inherit;
}

.sidebar {
  display: block;
  height: 100%;
  background-color: #343a40;
  text-align: center;
  color: #f8f9fa;
  position: absolute;
}

.sidebar * {
  display: block;
}

.sidebar ::-moz-selection {
  background-color: #f8f9fa;
  color: #343a40;
}

.sidebar ::selection {
  background-color: #f8f9fa;
  color: #343a40;
}

.sidebar ~ * {
  padding-left: 70px;
}

.sidebar ~ .container {
  padding-left: 85px;
}

.sidebar-brand {
  font-size: 1.5rem;
}

a.sidebar-brand {
  text-decoration: none;
}

.topbar {
  height: 70px;
  width: 100%;
  background-color: #343a40;
}

.topbar.fixed ~ * {
  padding-top: 70px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container ::-moz-selection {
  background-color: #343a40;
  color: #f8f9fa;
}

.container ::selection {
  background-color: #343a40;
  color: #f8f9fa;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
}

.grid * {
  -ms-grid-column-span: 14;
      grid-column-end: span 14;
}

button,
input[type="submit"],
input[type="button"],
.btn {
  border: none;
  font-size: 1rem;
  padding: 6px 12px;
  margin-bottom: 10px;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
}

input,
textarea {
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  font-size: 1.2rem;
  border: 1px solid #484c50;
  margin-bottom: 10px;
  border-radius: 3px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .sidebar {
    width: 70px;
  }
  .sidebar ~ * {
    padding-left: 70px;
  }
  .sidebar ~ .container {
    padding-left: 85px;
  }
}

@media (min-width: 576px) {
  .grid-extend-sm-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .grid-extend-sm-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .grid-extend-sm-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .grid-extend-sm-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .grid-extend-sm-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .grid-extend-sm-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .grid-extend-sm-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .grid-extend-sm-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .grid-extend-sm-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .grid-extend-sm-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .grid-extend-sm-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .grid-extend-sm-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .grid-extend-sm-13 {
    -ms-grid-column-span: 13;
        grid-column-end: span 13;
  }
  .grid-extend-sm-14 {
    -ms-grid-column-span: 14;
        grid-column-end: span 14;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    width: 85px;
  }
  .sidebar ~ * {
    padding-left: 85px;
  }
  .sidebar ~ .container {
    padding-left: 100px;
  }
}

@media (min-width: 768px) {
  .grid-extend-md-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .grid-extend-md-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .grid-extend-md-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .grid-extend-md-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .grid-extend-md-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .grid-extend-md-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .grid-extend-md-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .grid-extend-md-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .grid-extend-md-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .grid-extend-md-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .grid-extend-md-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .grid-extend-md-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .grid-extend-md-13 {
    -ms-grid-column-span: 13;
        grid-column-end: span 13;
  }
  .grid-extend-md-14 {
    -ms-grid-column-span: 14;
        grid-column-end: span 14;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar {
    width: 100px;
  }
  .sidebar ~ * {
    padding-left: 100px;
  }
  .sidebar ~ .container {
    padding-left: 115px;
  }
}

@media (min-width: 992px) {
  .grid-extend-lg-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .grid-extend-lg-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .grid-extend-lg-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .grid-extend-lg-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .grid-extend-lg-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .grid-extend-lg-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .grid-extend-lg-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .grid-extend-lg-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .grid-extend-lg-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .grid-extend-lg-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .grid-extend-lg-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .grid-extend-lg-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .grid-extend-lg-13 {
    -ms-grid-column-span: 13;
        grid-column-end: span 13;
  }
  .grid-extend-lg-14 {
    -ms-grid-column-span: 14;
        grid-column-end: span 14;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    width: 115px;
  }
  .sidebar ~ * {
    padding-left: 115px;
  }
  .sidebar ~ .container {
    padding-left: 130px;
  }
  .grid-extend-xl-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .grid-extend-xl-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .grid-extend-xl-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .grid-extend-xl-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .grid-extend-xl-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .grid-extend-xl-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .grid-extend-xl-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .grid-extend-xl-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .grid-extend-xl-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .grid-extend-xl-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .grid-extend-xl-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .grid-extend-xl-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .grid-extend-xl-13 {
    -ms-grid-column-span: 13;
        grid-column-end: span 13;
  }
  .grid-extend-xl-14 {
    -ms-grid-column-span: 14;
        grid-column-end: span 14;
  }
}

.tooltip {
  width: 48px;
  height: 35px;
  cursor: pointer;
  margin: auto;
}

.tooltip .tooltip-icon {
  display: block;
  background: url(./icons8-menu.svg) no-repeat;
  width: 100%;
  height: 100%;
}

.ripple-effect {
  position: relative;
  overflow: hidden;
}

.ripple-effect .ripple-effect-item {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-animation: ripple 1s ease-in-out;
          animation: ripple 1s ease-in-out;
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
}

@keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
}

.bg-dark {
  background-color: #343a40;
  color: #f8f9fa;
}

.bg-ligth {
  background-color: #f8f9fa;
  color: #343a40;
}

.bg-blue {
  background-color: #2668B2;
  color: #f8f9fa;
}

.bg-red {
  background-color: #DE3636;
  color: #f8f9fa;
}

.bg-orange {
  background-color: #E58B00;
  color: #f8f9fa;
}

.bg-yellow {
  background-color: #F0F322;
  color: #343a40;
}

.bg-green {
  background-color: #31C20D;
  color: #f8f9fa;
}

.bg-cyan {
  background-color: #13D0E3;
  color: #f8f9fa;
}

.bg-purple {
  background-color: #CA13E3;
  color: #f8f9fa;
}

.bg-pink {
  background-color: #F41FBD;
  color: #f8f9fa;
}

.text-dark {
  color: #343a40;
}

.text-ligth {
  color: #f8f9fa;
}

.text-blue {
  color: #2668B2;
}

.text-red {
  color: #DE3636;
}

.text-orange {
  color: #E58B00;
}

.text-yellow {
  color: #F0F322;
}

.text-green {
  color: #31C20D;
}

.text-cyan {
  color: #13D0E3;
}

.text-purple {
  color: #CA13E3;
}

.text-pink {
  color: #F41FBD;
}

.grid-extend-1 {
  -ms-grid-column-span: 1;
      grid-column-end: span 1;
}

.grid-extend-2 {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.grid-extend-3 {
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
}

.grid-extend-4 {
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
}

.grid-extend-5 {
  -ms-grid-column-span: 5;
      grid-column-end: span 5;
}

.grid-extend-6 {
  -ms-grid-column-span: 6;
      grid-column-end: span 6;
}

.grid-extend-7 {
  -ms-grid-column-span: 7;
      grid-column-end: span 7;
}

.grid-extend-8 {
  -ms-grid-column-span: 8;
      grid-column-end: span 8;
}

.grid-extend-9 {
  -ms-grid-column-span: 9;
      grid-column-end: span 9;
}

.grid-extend-10 {
  -ms-grid-column-span: 10;
      grid-column-end: span 10;
}

.grid-extend-11 {
  -ms-grid-column-span: 11;
      grid-column-end: span 11;
}

.grid-extend-12 {
  -ms-grid-column-span: 12;
      grid-column-end: span 12;
}

.grid-extend-13 {
  -ms-grid-column-span: 13;
      grid-column-end: span 13;
}

.grid-extend-14 {
  -ms-grid-column-span: 14;
      grid-column-end: span 14;
}

.close[water-data-close] {
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

.fixed {
  position: fixed;
}

.w-full {
  width: 100%;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

:root {
  --dark: #343a40;
  --ligth: #f8f9fa;
  --blue: #2668B2;
  --red: #DE3636;
  --orange: #E58B00;
  --yellow: #F0F322;
  --green: #31C20D;
  --cyan: #13D0E3;
  --purple: #CA13E3;
  --pink: #F41FBD;
}
/*# sourceMappingURL=style.css.map */