html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif, 'Segoe UI', -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', serif;
  line-height: 1.5;
  height: 100vh;
  background-color: #f8f9fa;
  color: #343a40;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.scroll-box {
  position: relative;
  background-color: #fafbfc;
  border: 1.2px #343a40 solid;
  overflow: auto;
}

.tooltip {
  width: 48px;
  height: 35px;
  cursor: pointer;
}

.tooltip .tooltip-icon {
  display: block;
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%22100%25%22%20height%3D%22100%25%22%3E%3Cpath%20style%3D%22line-height%3Anormal%3Btext-indent%3A0%3Btext-align%3Astart%3Btext-decoration-line%3Anone%3Btext-decoration-style%3Asolid%3Btext-decoration-color%3A%23000%3Btext-transform%3Anone%3Bblock-progression%3Atb%3Bisolation%3Aauto%3Bmix-blend-mode%3Anormal%22%20d%3D%22M%202%205%20L%202%207%20L%2022%207%20L%2022%205%20L%202%205%20z%20M%202%2011%20L%202%2013%20L%2022%2013%20L%2022%2011%20L%202%2011%20z%20M%202%2017%20L%202%2019%20L%2022%2019%20L%2022%2017%20L%202%2017%20z%22%20font-weight%3D%22400%22%20font-family%3D%22sans-serif%22%20white-space%3D%22normal%22%20overflow%3D%22visible%22%2F%3E%3C%2Fsvg%3E") no-repeat;
  width: 100%;
  height: 100%;
}

.sidebar {
  display: block;
  height: 100%;
  background-color: #343a40;
  text-align: center;
  color: #f8f9fa;
  position: absolute;
}

.sidebar * {
  display: block;
}

.sidebar ::-moz-selection {
  background-color: #f8f9fa;
  color: #343a40;
}

.sidebar ::selection {
  background-color: #f8f9fa;
  color: #343a40;
}

.sidebar ~ * {
  padding-left: 70px;
}

.sidebar ~ .container {
  padding-left: 85px;
}

.sidebar .sidebar-brand {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
}

.sidebar a:hover {
  text-decoration: none;
}

.sidebar .sidebar-item {
  text-align: center;
  margin: auto;
}

.sidebar .tooltip {
  display: inline-block;
  margin: auto;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  width: 100%;
  position: relative;
  background-color: #343a40;
  color: #f8f9fa;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 10;
}

.topbar.fixed ~ * {
  padding-top: 56px;
}

.topbar .topbar-brand {
  display: block;
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1rem;
}

.topbar a:hover {
  text-decoration: none;
}

.topbar .topbar-item,
.topbar .search {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1rem;
}

.topbar .nav-sm-responce,
.topbar .nav-md-responce,
.topbar .nav-lg-responce,
.topbar .nav-xl-responce {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.topbar .nav-sm-responce .nav-responced,
.topbar .nav-md-responce .nav-responced,
.topbar .nav-lg-responce .nav-responced,
.topbar .nav-xl-responce .nav-responced {
  background-color: #343a40;
}

.topbar ::-moz-selection {
  background-color: #f8f9fa;
  color: #343a40;
}

.topbar ::selection {
  background-color: #f8f9fa;
  color: #343a40;
}

.topbar .tooltip {
  display: block;
  margin-right: 1rem;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container::-moz-selection {
  background-color: #343a40;
  color: #f8f9fa;
}

.container::selection {
  background-color: #343a40;
  color: #f8f9fa;
}

.container ::-moz-selection {
  background-color: #343a40;
  color: #f8f9fa;
}

.container ::selection {
  background-color: #343a40;
  color: #f8f9fa;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
}

.grid * {
  -ms-grid-column-span: 14;
      grid-column-end: span 14;
}

button,
input[type="submit"],
input[type="button"],
.btn {
  border: none;
  font-size: 1rem;
  padding: 6px 12px;
  margin-bottom: 10px;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
}

input,
textarea {
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  font-size: 1.2rem;
  border: 1px solid #6e6e72;
  margin-bottom: 10px;
  border-radius: 3px;
}

th,
td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  margin: auto;
}

th button,
th input[type="submit"],
th input[type="button"],
th .btn,
td button,
td input[type="submit"],
td input[type="button"],
td .btn {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
}

td:hover {
  color: #f8f9fa;
  background-color: #484c48;
}

td:hover * {
  color: #f8f9fa;
}

.card {
  border: 1px solid #6e6e72;
  border-radius: 3px;
  padding: 10px;
}

.card img {
  margin: -10px;
}

.card * + img {
  margin-top: 0px;
}

.card * {
  margin: 10px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .sidebar {
    width: 70px;
  }
  .sidebar ~ * {
    padding-left: 70px;
  }
  .sidebar ~ .container {
    padding-left: 85px;
  }
}

@media (min-width: 576px) {
  .grid-extend-sm-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .grid-extend-sm-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .grid-extend-sm-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .grid-extend-sm-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .grid-extend-sm-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .grid-extend-sm-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .grid-extend-sm-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .grid-extend-sm-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .grid-extend-sm-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .grid-extend-sm-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .grid-extend-sm-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .grid-extend-sm-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .grid-extend-sm-13 {
    -ms-grid-column-span: 13;
        grid-column-end: span 13;
  }
  .grid-extend-sm-14 {
    -ms-grid-column-span: 14;
        grid-column-end: span 14;
  }
  .nav-sm-responce * {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    width: 85px;
  }
  .sidebar ~ * {
    padding-left: 85px;
  }
  .sidebar ~ .container {
    padding-left: 100px;
  }
}

@media (min-width: 768px) {
  .grid-extend-md-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .grid-extend-md-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .grid-extend-md-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .grid-extend-md-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .grid-extend-md-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .grid-extend-md-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .grid-extend-md-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .grid-extend-md-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .grid-extend-md-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .grid-extend-md-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .grid-extend-md-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .grid-extend-md-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .grid-extend-md-13 {
    -ms-grid-column-span: 13;
        grid-column-end: span 13;
  }
  .grid-extend-md-14 {
    -ms-grid-column-span: 14;
        grid-column-end: span 14;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar {
    width: 100px;
  }
  .sidebar ~ * {
    padding-left: 100px;
  }
  .sidebar ~ .container {
    padding-left: 115px;
  }
}

@media (min-width: 992px) {
  .grid-extend-lg-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .grid-extend-lg-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .grid-extend-lg-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .grid-extend-lg-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .grid-extend-lg-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .grid-extend-lg-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .grid-extend-lg-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .grid-extend-lg-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .grid-extend-lg-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .grid-extend-lg-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .grid-extend-lg-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .grid-extend-lg-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .grid-extend-lg-13 {
    -ms-grid-column-span: 13;
        grid-column-end: span 13;
  }
  .grid-extend-lg-14 {
    -ms-grid-column-span: 14;
        grid-column-end: span 14;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    width: 115px;
  }
  .sidebar ~ * {
    padding-left: 115px;
  }
  .sidebar ~ .container {
    padding-left: 130px;
  }
  .grid-extend-xl-1 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .grid-extend-xl-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .grid-extend-xl-3 {
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .grid-extend-xl-4 {
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .grid-extend-xl-5 {
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .grid-extend-xl-6 {
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .grid-extend-xl-7 {
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .grid-extend-xl-8 {
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .grid-extend-xl-9 {
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .grid-extend-xl-10 {
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .grid-extend-xl-11 {
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .grid-extend-xl-12 {
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
  .grid-extend-xl-13 {
    -ms-grid-column-span: 13;
        grid-column-end: span 13;
  }
  .grid-extend-xl-14 {
    -ms-grid-column-span: 14;
        grid-column-end: span 14;
  }
}

.ripple-effect {
  position: relative;
  overflow: hidden;
}

.ripple-effect .ripple-effect-item {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-animation: ripple 1s ease-in-out;
          animation: ripple 1s ease-in-out;
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
}

@keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
}

.bg-dark {
  background-color: #343a40;
  color: #f8f9fa;
}

.bg-grey {
  background-color: #6e6e72;
  color: #f8f9fa;
}

.bg-ligth {
  background-color: #f8f9fa;
  color: #343a40;
}

.bg-blue {
  background-color: #2668B2;
  color: #f8f9fa;
}

.bg-red {
  background-color: #DE3636;
  color: #f8f9fa;
}

.bg-orange {
  background-color: #E58B00;
  color: #f8f9fa;
}

.bg-yellow {
  background-color: #F0F322;
  color: #343a40;
}

.bg-green {
  background-color: #31C20D;
  color: #f8f9fa;
}

.bg-cyan {
  background-color: #13D0E3;
  color: #f8f9fa;
}

.bg-purple {
  background-color: #CA13E3;
  color: #f8f9fa;
}

.bg-pink {
  background-color: #F41FBD;
  color: #f8f9fa;
}

.text-dark {
  color: #343a40;
}

.text-grey {
  color: #6e6e72;
}

.text-ligth {
  color: #f8f9fa;
}

.text-blue {
  color: #2668B2;
}

.text-red {
  color: #DE3636;
}

.text-orange {
  color: #E58B00;
}

.text-yellow {
  color: #F0F322;
}

.text-green {
  color: #31C20D;
}

.text-cyan {
  color: #13D0E3;
}

.text-purple {
  color: #CA13E3;
}

.text-pink {
  color: #F41FBD;
}

pre {
  color: #DE3636;
}

.grid-extend-1 {
  -ms-grid-column-span: 1;
      grid-column-end: span 1;
}

.grid-extend-2 {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

.grid-extend-3 {
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
}

.grid-extend-4 {
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
}

.grid-extend-5 {
  -ms-grid-column-span: 5;
      grid-column-end: span 5;
}

.grid-extend-6 {
  -ms-grid-column-span: 6;
      grid-column-end: span 6;
}

.grid-extend-7 {
  -ms-grid-column-span: 7;
      grid-column-end: span 7;
}

.grid-extend-8 {
  -ms-grid-column-span: 8;
      grid-column-end: span 8;
}

.grid-extend-9 {
  -ms-grid-column-span: 9;
      grid-column-end: span 9;
}

.grid-extend-10 {
  -ms-grid-column-span: 10;
      grid-column-end: span 10;
}

.grid-extend-11 {
  -ms-grid-column-span: 11;
      grid-column-end: span 11;
}

.grid-extend-12 {
  -ms-grid-column-span: 12;
      grid-column-end: span 12;
}

.grid-extend-13 {
  -ms-grid-column-span: 13;
      grid-column-end: span 13;
}

.grid-extend-14 {
  -ms-grid-column-span: 14;
      grid-column-end: span 14;
}

.close[water-data-close] {
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

[href] {
  cursor: pointer;
}

.fixed {
  position: fixed;
}

.w-full {
  width: 100%;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

:root {
  --dark: #343a40;
  --grey: #6e6e72;
  --ligth: #f8f9fa;
  --blue: #2668B2;
  --red: #DE3636;
  --orange: #E58B00;
  --yellow: #F0F322;
  --green: #31C20D;
  --cyan: #13D0E3;
  --purple: #CA13E3;
  --pink: #F41FBD;
}
/*# sourceMappingURL=style.css.map */
