$dark: #343a40;
$ligth: #f8f9fa;
$blue: #2668B2;
$red: #DE3636;
$orange: #E58B00;
$yellow: #F0F322;
$green: #31C20D;
$cyan: #13D0E3;
$purple: #CA13E3;
$pink: #F41FBD;
$colors: () !default;
$colors: map-merge(
    (
        "dark": $dark,
        "ligth": $ligth,
        "blue": $blue,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "cyan": $cyan,
        "purple": $purple,
        "pink": $pink
    ),
    $colors
);


*, *::after, *::before{
    box-sizing: border-box;
    transition: .3s;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif, 'Segoe UI', -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', serif;
    line-height: 1.5;
    height: 100vh;
    background-color: $ligth;
    color: $dark;
}
@for $n from 1 to 7 {
    h#{$n}{margin: 0;}
}
a{
    color: inherit;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.scroll-box{
    position: relative;
    background-color: #fafbfc;
    border: 1.2px $dark solid;
	overflow: auto;
}
.tooltip{
	width: 48px;
	height: 35px;
    cursor: pointer;
    .tooltip-icon{
        display: block;
        background: url(./icons8-menu.svg) no-repeat;
        width: 100%;
        height: 100%;
    }
}
.sidebar{
    display: block;
    height: 100%;
    background-color: $dark;
    text-align: center;
    color: $ligth;
    position: absolute;
    *{
        display: block;
    }
    ::selection{
        background-color: $ligth;
        color: $dark;
    }
    & ~ *{
        padding-left: 70px;
    }
    & ~ .container{
        padding-left: 85px;
    }
    .sidebar-brand{
        font-size: 1.5rem;
        text-align: center;
        margin: auto;
    }
    a:hover{text-decoration: none;}
    .sidebar-item{
        text-align: center;
        margin: auto;
    }
    .tooltip{
        display: inline-block;
        margin: auto;
    }
}
.topbar{
    display: flex;
    height: 56px;
    width: 100%;
    position: relative;
    background-color: $dark;
    color: $ligth;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 10;
    &.fixed ~ *{
        padding-top: 56px;
    }
    .topbar-brand{
        display: block;
        font-size: 1.5rem;
        align-self: center;
        margin-right: 1rem;
    }
    a:hover{text-decoration: none;}
    .topbar-item,
    .search{
        align-self: center;
        margin-right: 1rem;
    }
    .nav-sm-responce,
    .nav-md-responce,
    .nav-lg-responce,
    .nav-xl-responce{
        align-self: center;
        .nav-responced{
            background-color: $dark;
        }
    }
    ::selection{
        background-color: $ligth;
        color: $dark;
    }
    .tooltip{
        display: block;
        margin-right: 1rem;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    ::selection{
        background-color: $dark;
        color: $ligth;
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    *{
        grid-column-end: span 14;
    }
} 
button,
input[type="submit"],
input[type="button"],
.btn{
    border: none;
	font-size: 1rem;
    padding: 6px 12px;
	margin-bottom: 10px;
	border-radius: 7px;
	cursor: pointer;
	outline: none;
}
input,
textarea{
    display: inline-block;
    width: 100%;
    padding: 6px 12px;
	font-size: 1.2rem;
    border: 1px solid #484c50;
    margin-bottom: 10px;
	border-radius: 3px;
}

// media
@media (min-width: 576px) and (max-width: 767px) {
    $sidebar-size: 70px;
    .sidebar{
        width: $sidebar-size;
        & ~ *{
            padding-left: $sidebar-size;
        }
        & ~ .container{
            padding-left: $sidebar-size + 15px;
        }
    }
}
@media (min-width: 576px){
    @for $n from 1 to 15 {
        .grid-extend-sm-#{$n}{
            grid-column-end: span $n;
        }
    }
    .nav-sm-responce{
        *{
            display: block;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    $sidebar-size: 85px;
    .sidebar{
        width: $sidebar-size;
        & ~ *{
            padding-left: $sidebar-size;
        }
        & ~ .container{
            padding-left: $sidebar-size + 15px;
        }
    }
}
@media (min-width: 768px){
    @for $n from 1 to 15 {
        .grid-extend-md-#{$n}{
            grid-column-end: span $n;
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    $sidebar-size: 100px;
    .sidebar{
        width: $sidebar-size;
        & ~ *{
            padding-left: $sidebar-size;
        }
        & ~ .container{
            padding-left: $sidebar-size + 15px;
        }
    }
}
@media (min-width: 992px){
    @for $n from 1 to 15 {
        .grid-extend-lg-#{$n}{
            grid-column-end: span $n;
        }
    }
}
@media (min-width: 1200px) {
    $sidebar-size: 115px;
    .sidebar{
        width: $sidebar-size;
        & ~ *{
            padding-left: $sidebar-size;
        }
        & ~ .container{
            padding-left: $sidebar-size + 15px;
        }
    }
    @for $n from 1 to 15 {
        .grid-extend-xl-#{$n}{
            grid-column-end: span $n;
        }
    }
}
.ripple-effect{
	position: relative;
    overflow: hidden;
    .ripple-effect-item{
        position: absolute;
        height:100px; 
        width:100px;
        border-radius:50%;
        background-color: rgba(255,255,255, 0.6);
        animation: ripple 1s ease-in-out;
    }
}
@keyframes ripple{
	to{
		opacity: 0;
		transform: translate(-50%, -50%) scale(2.5);
	}
}
.bg-dark{
    background-color: $dark;
    color: $ligth;
}
.bg-ligth{
    background-color: $ligth;
    color: $dark;
}
.bg-blue{
    background-color: $blue;
    color: $ligth;
}
.bg-red{
    background-color: $red;
    color: $ligth;
}
.bg-orange{
    background-color: $orange;
    color: $ligth;
}
.bg-yellow{
    background-color: $yellow;
    color: $dark;
}
.bg-green{
    background-color: $green;
    color: $ligth;
}
.bg-cyan{
    background-color: $cyan;
    color: $ligth;
}
.bg-purple{
    background-color: $purple;
    color: $ligth;
}
.bg-pink{
    background-color: $pink;
    color: $ligth;
}
@each $color, $value in $colors {
    .text-#{$color}{color: #{$value};}
}
pre{
    color: $red;
}
@for $n from 1 to 15 {
    .grid-extend-#{$n}{
        grid-column-end: span $n;
    }
}
.close[water-data-close]{
    font-size: 1.7rem;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}
.fixed{
    position: fixed;
}
.w-full{
    width: 100%;
}
.none{
    display: none;
}
.hidden{
    visibility: hidden;
}
:root{
    @each $color, $value in $colors {
        --#{$color}: #{$value};
    }
}
